# Ignore node_modules directory
node_modules/

# Ignore build and compiled files
/build/
/dist/

# Ignore Babel configuration
.babelrc
babel.config.js

# Ignore IDE/Editor-specific files
/.vscode/
.idea/

# Ignore logs and temporary files
logs/
*.log

# Ignore environment variables
.env

# Ignore production deployment files
pm2.json